/* =Header
===================================================== */

// Header
//
// Header of the site (includes site branding and navigation)
//
// Markup: header.html
//
// Style guide: 6.header

.site-header {

  position: relative;

  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: fixed;
  background-image: $site-hero-path-small;
  background-color: rgba($site-hero-background, $site-hero-overlay);

  @include breakpoint(medium) {

    background-image: $site-hero-path-large;
    background-position: 50% 25%;
    background-size: ($container-max-width);
    background-repeat: repeat-x;
    background-attachment: fixed;

  }

  @include transition-fast();

  .site-branding {

    background-image: $site-header-path-small;
    background-position: 50% 99%;
    background-repeat: no-repeat;

    @include breakpoint(medium) {

      background-image: $site-header-path-large;

    }

  }

  > * {

    position: relative;
    z-index: $z-index-header;

  }

}
